.link{
    cursor: pointer;
    z-index: 1;
    border:1px solid gray; 
    padding: 12px;
    border-radius: 10%;
    font-size: 14px;
    font-weight: 700;
}
.link:hover{
 background-color: #adadad65;
}
.burger{
    width: 20px;
    height: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1;
}
.line{
    width: 100%;
    height: 2px;
    background-color: var(--textColor);
   
}
.responsiveMenu{
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--bg);
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 36px;
    animation: slideDown 0.5s ease-in-out;
    z-index: 1;

}

.logout{
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .burger{
        display: flex;
    }
    .link{
        display: none;
    }
    
}

/* Dropdown */
/* Container for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
  background-color: transparent;
}
.items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropbtn{
    background-color: var(--bg);
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
    color: var(--textColor);
    border:1px solid gray; 
    padding: 12px;
    border-radius: 10%;
    font-size: 14px;
    font-weight: 700;
}
.dropbtn:hover{
    background-color: #adadad65;
   }
.dropdownContent{
margin-top: 12px;
position: absolute;
display: flex;
flex-direction: column;
gap: 10px;
}

.link1{
    cursor: pointer;
    z-index: 1;
    border:1px solid gray; 
    padding: 12px;
    border-radius: 10%;
    background-color: var(--textColor);
    color: var(--bg);
    font-size: 14px;
    font-weight: 600;
    opacity: 0.9;
}