.container{
    display: flex;
    justify-content: space-between ;

}

.button{
   width: 100px;
   border: none;
   padding: 16px;
   background-color: #eb0000;
   color: white;
   font-weight: 600;
   cursor: pointer;
    border-radius: 5px;
}