.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem; /* mt-8 */
    justify-content: center;
    gap: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
   
}
.card {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: max-content;
    padding:  0px 0px 20px 0px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: var(--softBg);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.cardImage{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   
}

.cardContent{
    margin-top: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
.image{
    border-radius: 12px 12px 1px 1px;
    width: 100%;
    height: 300px;
    object-fit: cover; 
    padding: 0px 0px 8px 0px;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.desc{
    padding: 6px 12px 6px 12px;
    color: var(--softTextColor);
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    line-height: 1.4;
}

.link{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: var(--textColor);
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
    margin-top: 14px;
    margin-bottom: 14px;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}