.container{
  position: relative;
  display: flex;
  flex-direction: column;
 
}

.select{
  margin-bottom: 50px;
  padding: 10px 20px;
  margin-left: 50px;
  width: max-content;
}

.second{
  display: flex;
  flex-direction: row;
}
.list{
  display: flex;
  flex-direction: row;

  
}
.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}
.plusBtn{
  width: 24px;
  height: 24px;
  object-fit: fill;


}
.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--softTextColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  object-fit: cover;
  
}

.addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
}

.input{
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.input::placeholder{
  color: #b3b3b1;
}

.textArea {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.publish{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}
.select{
  margin-bottom: 40px;
  padding: 10px 10px;
  margin-left: 50px;
  width: max-content;
  background-color: transparent;
  border: 1px solid var(--textColor);
  font-weight: bold;
  border-radius: 4px;
  color: var(--softTextColor);
  cursor: pointer;
}
.options{
color: var(--softTextColor);
  font-weight: bolder;
 margin-bottom: 16px;
 padding-left: 48px;
 font-size: 14px;
text-transform: uppercase;
}

.span{
color: var(--softTextColor);
font-weight: bolder;
margin-bottom: 16px;
padding-left: 48px;
font-size: 14px;
text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .plusBtn{
    
  }
}







