
.title{
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 36px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 64px;
    border-bottom: 1px solid var(--textColor);
}
.feedbackInput {
    color:var(--textColor);
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid var(--textColor);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:50%;
    display: flex;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #eb0000; }
  

.button {
    width: 100%;
    background-color:transparent;
    border:2px solid var(--textColor);
    border-radius:5px;
   
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    width: 50%;
    color: var(--textColor);
    cursor: pointer;
  }
  .button:hover {
     background-color:#eb0000;
     color: white; }
