.container{
    width: 44px;
    height: 24px;
    padding: 4px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    position: relative;
}

.ball{
    width: 20px;
    height: 20px;
    border-radius: 90%;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.ball.left{
    background-color: #fff;
    left: 0;
}